{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Edit Details</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{% url 'change_password' %}">Change password</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="p-4 mt-5" style="margin-top: 200px;">Change password</h3>
            <form class="row contact_form mb-5 pb-5" method="post" novalidate="novalidate">
                {% csrf_token %}

                <div class="col-md-12 form-group">
                    {{ form.old_password }}
                    <div class='error text-danger'>{{form.old_password.errors}}</div>
                </div>
                <div class="col-md-12 form-group">
                    {{ form.new_password1 }}
                    <div class='error text-danger'>{{form.new_password1.errors}}</div>

                </div>
                <div class="col-md-12 form-group">
                    {{ form.new_password2 }}
                    <div class='error text-danger'>{{form.new_password2.errors}}</div>

                </div>


                <div class="col-md-6 form-group">
                    <button type="submit" value="submit" class="primary-btn">Go</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

