{% extends "base.html" %}


{% load static %}

{% block title %}Reset your password{% endblock %}
{% block content %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>Don't have an account?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this
                            is the</p>
                        <a class="primary-btn" href="{% url 'register' %}">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <p>Looks like you have tried opening an expired URL.</p>

                    <p><a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
