{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% load static %}

{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'login' %}">Login</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Register Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>Don't have an account?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of
                                this
                                is the</p>
                            <a class="primary-btn" href="{% url 'register' %}">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Login</h3>
                        <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            {% include 'base_message.html' %}
                            <div class="col-md-12 form-group">
                                {{ form.username }}
                                <div class='error text-danger'>{{ form.username.errors }}</div>
                            </div>
                            <div class="col-md-12 form-group">
                                {{ form.password }}
                                <div class='error text-danger'>{{ form.password.errors }}</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Login</button>
                            </div>
                            <p class="pt-4 pl-4">Don't have an account?<a href="{% url 'register' %}">&nbsp;Click here
                                to create
                                one</a></p>
                            <p class="pt-4 pl-4"><a href="{% url 'forgot_password' %}">Lost Password?</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Register Box Area =================-->

{% endblock content %}

{% block javascript %}


{% endblock javascript %}