{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% load static %}
{% load custom_tags %}


{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'checkout' %}">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container px-5">
            <div class="billing_details">
                <h3 class="p-4">Billing Details</h3>
                <div class="row px-5">

                    <div class="col-lg-8 pl-5">


                        <div class="col-lg-50">
                            <div class="order_box">

                                <ul class="list list_2">
                                    <li>
                                        {% if user.first_name and user.last_name %}
                                            <a href="#">Name <span
                                                    style="text-transform: none !important;">
                                            {{ user.get_full_name }} </span></a>
                                        {% endif %}

                                    </li>
                                    <li><a href="#">UserName<span
                                            style="text-transform: none !important;"> {% if user.username %}
                                        {{ user.username }} {% else %} --- {% endif %} </span></a>
                                    </li>

                                    <li><a href="#">Mobile no <span
                                            style="text-transform: none !important;"> {% if user.user_profile.mobile_no %}
                                        {{ user.user_profile.mobile_no }} {% else %} --- {% endif %}  </span></a>
                                    </li>
                                    <li><a href="#">Alternate mobile no <span
                                            style="text-transform: none !important;"> {% if user.user_profile.alt_mobile_no %}
                                        {{ user.user_profile.alt_mobile_no }} {% else %} --- {% endif %}  </span></a>
                                    </li>

                                    <li><a href="#">Address1 <span
                                            style="text-transform: none !important;"> {% if user.user_shipping_address.address_one %}
                                        {{ user.user_shipping_address.address_one }} {% else %} --- {% endif %}  </span></a>
                                    </li>
                                    <li><a href="#">Address2 <span
                                            style="text-transform: none !important;"> {% if user.user_shipping_address.address_two %}
                                        {{ user.user_shipping_address.address_two }} {% else %}
                                        --- {% endif %}</span></a>
                                    </li>
                                    <li><a href="#">Zipcode <span
                                            style="text-transform: none !important;color: #777777">{% if user.user_shipping_address.zipcode %}
                                        {{ user.user_shipping_address.zipcode }} {% else %} --- {% endif %}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="order_box" style="height: 404px;width:500px;">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                {% for item in items %}
                                    <li><a href="#">{{ item.product.name }}<span
                                            class="middle">x {{ item.quantity }}</span>
                                        <span class="last">&#8377; {{ item.get_total|number_format }}</span></a></li>
                                {% endfor %}
                            </ul>

                            <ul class="list list_2">
                                <li><a href="#">Total <span>&#8377; {{ sum|number_format }} </span></a></li>
                            </ul>
                            {% if product_id > 0 %}
                                <a class="primary-btn removeCartItem" data-toggle="modal" data-target="#myModal"
                                   href="{% url 'confirmation' %}">Confirm Order</a>
                            {% endif %}

                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">


                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Your order has been placed. Please proceed to
                                                payment below and you will receive a confirmation email.</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="col-md-12 form-group">
                                                <input type="text" name="email" class="form-control"
                                                       placeholder="E-mail"
                                                       maxlength="254" required="" id="email">
                                            </div>

                                            <button type="submit" value="submit" class="primary-btn"
                                                    id="checkout-button"
                                                    data-id="{{ sum }}"
                                                    data-url_root="{% url 'api_checkout_session' pk=product_id %}">
                                                Checkout
                                            </button>


                                            <script src="https://js.stripe.com/v3/"></script>
                                            <script type="text/javascript">


                                                // Create an instance of the Stripe object with your publishable API key
                                                const stripe = Stripe('{{ stripe_publishable_key }}');
                                                const checkoutButton = document.getElementById('checkout-button');

                                                checkoutButton.addEventListener('click', function () {

                                                    const email = document.getElementById('email').value;
                                                    if (email.length === 0) {
                                                        alert("Please enter your email address.");
                                                        return;
                                                    }

                                                    $.ajax({
                                                        url: $('#checkout-button').data('url_root'),
                                                        type: 'POST',
                                                        data: {
                                                            'email': email,
                                                            'sum': $('#checkout-button').data('id')
                                                        },
                                                        headers: {'X-CSRFToken': csrftoken},
                                                        mode: 'same-origin',
                                                        success: function (session) {
                                                            const d = new Date();
                                                            d.setTime(d.getTime());
                                                            const expires = "expires=" + d.toUTCString();
                                                            document.cookie = 'cart' + "=" + '' + ";" + expires + ";path=/";
                                                            return stripe.redirectToCheckout({sessionId: session.sessionId});


                                                        },

                                                    })
                                                })

                                            </script>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}


